@import "../base/variables";
@import "../base/extends";
@import "../base/listas";
@import "../base/mixin";
@import "../base/operadores";

.lista-contacto {
    color: nth($colores, 3);
    @extend %flex;
    flex-direction: column;
    text-align: center;
}

.titulo-contacto {
    color: nth($colores, 1);
    @extend %flex;
    @extend %parrafo;
}

.formulario-consulta {
    @extend %flex;
    flex-direction: column;
}

